<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Burger King - Food Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Burger <span>King</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index.html" class="nav-item nav-link">Accueil</a>
                        <a href="feature.html" class="nav-item nav-link">Plat chap Chap</a>                        
                        <a href="feature1.html" class="nav-item nav-link active">Plat en famille</a>
                        <a href="menu.html" class="nav-item nav-link">Espace PUB</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Plat en famille</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        

        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <!-- <div class="section-header text-center">
                    <p>Food Blog</p>
                    <h2>Latest From Food Blog</h2>
                </div>-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/1.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Risotto aux asperges et </br> au parmesan</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Privat</p>
                                    <p><i class="far fa-calendar-alt"></i>18-septembre-2021</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Pour 4 personnes<br>
                                        Temps de préparation : 10 minutes<br>
                                        Coût : pour toutes les bourses
                                     </p>
                                    <a class="btn custom-btn" href="single.html">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/2.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Tagliatelles aux champignons, </br>poulet et ail</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Privat</p>
                                    <p><i class="far fa-calendar-alt"></i>18-septembre-2021</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Pour 4 personnes</br>
                                        Temps de préparation : 10 minutes</br>
                                        Coût : pour toutes les bourses
                                    </p>
                                    <a class="btn custom-btn" href="single1.html">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="img/3.png" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">Pommes de terre farcies aux champignons</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Privat</p>
                                    <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        Pour 4 personnes<br>
                                        Temps de préparation : 10 minutes</br>
                                        Coût : pour toutes les bourses
                                    </p>
                                    <a class="btn custom-btn" href="single2.html">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->



        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Nous contacter</h2>
                                    <p><i class="fa fa-phone-alt"></i>+225 0142333583</p>
                                    <p><i class="fa fa-envelope"></i>bindeprivat42@gmail.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Info</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Ajoutez vous à la newsletter pour ne rien rater de nos nouveaux articles
                            </p>
                            <div class="form">
                                <form method="post" action="/add" >
                                    <input class="form-control" placeholder="bindeprivat42@gmail.com" name="email" type="email">
                                    <input class="btn custom-btn" name="valider" type="submit" value="s'inscrire">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">Chef Ivoire</a></p>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/tempusdominus/js/moment.min.js"></script>
        <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
